.card-text,.card-list1,.card-list2, .card-list3, .card-list4{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    
}

.card-title{
    font-size: 22px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}