.hak{
    font-size: large;
    color:black;
    text-indent: 2%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    
}