.navbar-nav li{
    list-style-type:none;
  
}
.dropdown-item{
  color:darkblue;


}

.nav-link{
  font-family: "Georgia", Courier, monospace;
  color: orange;
  font-size:26px;
}



.nav-link:hover{
  color:yellow !important;
  
  
  
} 




.menu-item-link{
  text-decoration: none !important;
}

.menu-item-link:hover{
  
  color:orange;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 994px) {
  .row{
    justify-content: flex-end !important;
  }
}

