.body{
    background-color:"white";
    
    width:100%;
    padding-top: 25px;
}
.dropdown-item{
    font-size: 18px;
    text-align: left;
}
.icon:hover{
  color:orange;
  
}

ul li {
  list-style-type:circle;
  
  
}

.bottomlist li:hover a:not(.active){
  color:orange;
  font-size: 20px;
  
}

